// Color Varibles
$myBlue: #2D89E6;
$myRed: #FF4A4A;
$myGrey: #F4F2F3;
$primary-color: #9EBC9F;
$secondary-color-dark: #230903;
$secondary-color-light: #656256;
$borderColor: #C3C3C3;

$primary-font: "Segoe UI";

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: $secondary-color-dark;
    padding: 5px;
    border-radius: 3px;
    &:hover {
        color: $myBlue;
    }
}

h1, h2, h4 {
    padding: 10px;
    text-align: center;
}

img {
    height: 100%;
    width: 100%;
}

textarea {
    width: 180px;
}

.image {
    border: 1px solid $myGrey;
    border-radius: 3px;
    overflow: hidden;
}

nav {
    background: $primary-color;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    
    span {
        display: inline-block;
        padding: 15px 5px;
        &:hover {
            background: $myGrey;
        }
    }

}

section {
    padding: 15px;
    padding-top: 30px;
}

.element {
    border-radius: 3px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.job-title {
    padding: 5px;
    font-size: 1.3em;
    text-emphasis: bold;
    color: $secondary-color-dark;
}
.details {
    padding: 5px;
    font-size: 0.8em;
}

.offers-container, .all-offers-container {
    display: flex;
    justify-content: center;
}

.logout {
    background: #DFE5DB;
}

.alert {
    text-align: center;
    margin: 15px auto;
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    width: 50%;
    font-size: 1.3em;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
  }

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.offers-container {
    .element-container {
        padding: 5px;
    }
    .element {
        background: #DFE5DB;
        text-align: center;
        justify-content: center;
        .image {
            width: 160px;
            height: 100px;
        }
    }
}

.all-offers-container {
    flex-wrap: wrap;
    .element-container {
        padding: 5px 10px;
        width: 33%;
    }
    .element {
        background: $myGrey;
        height: 100%;
        justify-content: center;
        text-align: center;
        .image {
            width: 100px;
        }
        .fb-like-container {
            text-align: center;
            width: 100%;
            padding-top: 10px;
        }
    }
}

form {
    text-align: center;
}

input, select, button {
    border: 1px solid $borderColor;
    border-radius: 2px;
    padding: 10px;
}

.form-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.label-container {
    padding: 15px;
}

.input-container {
    padding: 5px;
}

.labels, .inputs {
    display: flex;
    flex-direction: column;
}


//////////////////////////////////////
/////////// details.php //////////////
//////////////////////////////////////

.details-image-container {
    width: 70%;
    margin: 15px auto;
}

.details-text {
    width: 60%;
    margin: 15px auto;
    display: flex;
    flex-direction: column;
    .details-element {
        margin: 5px;
        padding: 10px;
        p {
            display: flex;
            flex-direction: row;
            align-items: stretch;
            justify-content: flex-start;
            span {
                padding: 10px;
                display: inline-block;
            }
            span.key {
                margin-right: 10px;
                text-align: right;
                font-weight: bold;
                background: $myGrey;
                width: 30%;
            }
            span.value {
                width: 70%;
            }
        }
    }
}

//////////////////////////////////////
/////// myAnnouncements.php //////////
//////////////////////////////////////

.offer-element {
    width: 32%;
    display: inline-block;
    border: 1px solid $borderColor;
    border-radius: 10px;
    margin: 5px 5px;
    .details-image-container {
        width: 80%;
        margin: 15px auto;
    }
    .my-details-text {
        width: 70%;
        margin: 15px auto;
        display: flex;
        flex-direction: column;
        font-size: 0.7em;
        .details-element {
            margin: 5px;
            p {
                display: flex;
                flex-direction: row;
                align-items: stretch;
                justify-content: flex-start;
                span {
                    padding: 2px;
                    display: inline-block;
                }
                span.key {
                    margin-right: 10px;
                    text-align: right;
                    font-weight: bold;
                    width: 32%;
                }
                span.value {
                    width: 70%;
                }
            }
        }
    }
}

.editable-details-text {
    width: 60%;
    margin: 15px auto;
    display: flex;
    flex-direction: column;
    .details-element {
        margin: 5px;
        padding: 10px;
        p {
            display: flex;
            flex-direction: row;
            align-items: stretch;
            justify-content: flex-start;
            span {
                padding: 10px;
                display: inline-block;
            }
            span.key {
                margin-right: 10px;
                text-align: right;
                font-weight: bold;
                background: $myGrey;
                width: 30%;
            }
            span.value {
                width: 70%;
            }
        }
    }
    input, textarea, select {
        width: 100%;
    }
    
}


//////////////////////////////////////
///////// controlPanel.php ///////////
//////////////////////////////////////

.offers-section {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 5%;
}

.table-container {
    text-align: center;
    padding: 20px 20%;
}

table, th, td {
    margin-bottom: 1rem;
    color: #212529;
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    padding: 15px;
    font-weight: bold;
    background: $myGrey;
}

td {
    padding: 10px;
}

//////////////////////////////////////
///////////// SearchBar //////////////
//////////////////////////////////////

.search-bar {
    width: 100%; 
    color: white;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    .left {
        * {
            display: inline;
            font-size: 16px;
            border-radius: 3px;
            border: none;
            padding: 10px;
        }
        display: flex;
        width: 80%;
        background: #DFE5DB;
        padding: 10px 20px;
        border-radius: 0px 20px 20px 0px;
        justify-content: center;
        span {
            padding: 0px 15px;
            select {
                width: 100%;
            }
        }
        .middle-borders {
            border-radius: 0px;
            border-left: 1px solid white;
            border-right: 1px solid white;
        }
    }
}

.search-container, .search-offers {
    background: $myGrey;
    display: flex;
    flex-wrap: wrap;
}

//////////////////////////////////////
///////////// index.php //////////////
//////////////////////////////////////

.horizental-container {
    h3 {
        text-align: left;
        color: $myBlue;
        padding: 10px 0px 0px 10px;
        font-size: 14px;
    }
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .image-holder {
        padding: 10px;
        margin: auto;
        width: 90%;
    }
    .all-offers-container {
        width: 70%;
    }
    .most-viewed-offer {
        border: 1px solid $borderColor;
        border-radius: 5px;
        text-align: center;
        height: 360px;
        width: 30%;
    }
}