* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: #230903;
  padding: 5px;
  border-radius: 3px;
}

a:hover {
  color: #2D89E6;
}

h1, h2, h4 {
  padding: 10px;
  text-align: center;
}

img {
  height: 100%;
  width: 100%;
}

textarea {
  width: 180px;
}

.image {
  border: 1px solid #F4F2F3;
  border-radius: 3px;
  overflow: hidden;
}

nav {
  background: #9EBC9F;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav span {
  display: inline-block;
  padding: 15px 5px;
}

nav span:hover {
  background: #F4F2F3;
}

section {
  padding: 15px;
  padding-top: 30px;
}

.element {
  border-radius: 3px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
}

.job-title {
  padding: 5px;
  font-size: 1.3em;
  -webkit-text-emphasis: bold;
          text-emphasis: bold;
  color: #230903;
}

.details {
  padding: 5px;
  font-size: 0.8em;
}

.offers-container, .all-offers-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logout {
  background: #DFE5DB;
}

.alert {
  text-align: center;
  margin: 15px auto;
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  width: 50%;
  font-size: 1.3em;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.offers-container .element-container {
  padding: 5px;
}

.offers-container .element {
  background: #DFE5DB;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.offers-container .element .image {
  width: 160px;
  height: 100px;
}

.all-offers-container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.all-offers-container .element-container {
  padding: 5px 10px;
  width: 33%;
}

.all-offers-container .element {
  background: #F4F2F3;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.all-offers-container .element .image {
  width: 100px;
}

.all-offers-container .element .fb-like-container {
  text-align: center;
  width: 100%;
  padding-top: 10px;
}

form {
  text-align: center;
}

input, select, button {
  border: 1px solid #C3C3C3;
  border-radius: 2px;
  padding: 10px;
}

.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.label-container {
  padding: 15px;
}

.input-container {
  padding: 5px;
}

.labels, .inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.details-image-container {
  width: 70%;
  margin: 15px auto;
}

.details-text {
  width: 60%;
  margin: 15px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.details-text .details-element {
  margin: 5px;
  padding: 10px;
}

.details-text .details-element p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.details-text .details-element p span {
  padding: 10px;
  display: inline-block;
}

.details-text .details-element p span.key {
  margin-right: 10px;
  text-align: right;
  font-weight: bold;
  background: #F4F2F3;
  width: 30%;
}

.details-text .details-element p span.value {
  width: 70%;
}

.offer-element {
  width: 32%;
  display: inline-block;
  border: 1px solid #C3C3C3;
  border-radius: 10px;
  margin: 5px 5px;
}

.offer-element .details-image-container {
  width: 80%;
  margin: 15px auto;
}

.offer-element .my-details-text {
  width: 70%;
  margin: 15px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 0.7em;
}

.offer-element .my-details-text .details-element {
  margin: 5px;
}

.offer-element .my-details-text .details-element p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.offer-element .my-details-text .details-element p span {
  padding: 2px;
  display: inline-block;
}

.offer-element .my-details-text .details-element p span.key {
  margin-right: 10px;
  text-align: right;
  font-weight: bold;
  width: 32%;
}

.offer-element .my-details-text .details-element p span.value {
  width: 70%;
}

.editable-details-text {
  width: 60%;
  margin: 15px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.editable-details-text .details-element {
  margin: 5px;
  padding: 10px;
}

.editable-details-text .details-element p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.editable-details-text .details-element p span {
  padding: 10px;
  display: inline-block;
}

.editable-details-text .details-element p span.key {
  margin-right: 10px;
  text-align: right;
  font-weight: bold;
  background: #F4F2F3;
  width: 30%;
}

.editable-details-text .details-element p span.value {
  width: 70%;
}

.editable-details-text input, .editable-details-text textarea, .editable-details-text select {
  width: 100%;
}

.offers-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px 5%;
}

.table-container {
  text-align: center;
  padding: 20px 20%;
}

table, th, td {
  margin-bottom: 1rem;
  color: #212529;
  border: 1px solid black;
  border-collapse: collapse;
}

th {
  padding: 15px;
  font-weight: bold;
  background: #F4F2F3;
}

td {
  padding: 10px;
}

.search-bar {
  width: 100%;
  color: white;
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.search-bar .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  background: #DFE5DB;
  padding: 10px 20px;
  border-radius: 0px 20px 20px 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search-bar .left * {
  display: inline;
  font-size: 16px;
  border-radius: 3px;
  border: none;
  padding: 10px;
}

.search-bar .left span {
  padding: 0px 15px;
}

.search-bar .left span select {
  width: 100%;
}

.search-bar .left .middle-borders {
  border-radius: 0px;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.search-container, .search-offers {
  background: #F4F2F3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.horizental-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.horizental-container h3 {
  text-align: left;
  color: #2D89E6;
  padding: 10px 0px 0px 10px;
  font-size: 14px;
}

.horizental-container .image-holder {
  padding: 10px;
  margin: auto;
  width: 90%;
}

.horizental-container .all-offers-container {
  width: 70%;
}

.horizental-container .most-viewed-offer {
  border: 1px solid #C3C3C3;
  border-radius: 5px;
  text-align: center;
  height: 360px;
  width: 30%;
}
/*# sourceMappingURL=style.css.map */